<div class="site-header-wrapper">
  <mat-toolbar class="site-header" color="primary">
    <li>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li><a routerLink="/browse" routerLinkActive="active">Browse</a></li>
    <li>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Account</button>
        <button mat-menu-item>Settings</button>
      </mat-menu>
    </li>
  </mat-toolbar>
</div>
