<mat-card>
  <div class="card-main-wrapper">
    <div class="card-main-row">
      <div class="card-inner-col">
        <mat-card-header>
          <mat-card-title>{{ request.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="card-image" src="{{ request.imageSrc }}" alt="Image provided for the request">
          <p class="card-description">{{ request.description }}</p>
        </mat-card-content>
      </div>
    </div>

    <button mat-icon-button class="card-expand-button" *ngIf="!isExpanded" (click)="toggleExpand()">
      <mat-icon>open_in_full</mat-icon>
    </button>
    <button mat-icon-button class="card-expand-button" *ngIf="isExpanded" (click)="toggleExpand()">
      <mat-icon>close_fullscreen</mat-icon>
    </button>

    <div *ngIf="isExpanded" class="card-expanded-down">
      TODO donate fields and button
    </div>
  </div>

  <div *ngIf="isExpanded" class="card-expanded-right">
    <div class="expanded-right-info">
      <span>Request Date: {{ request.requestDate }}</span>
      <span>Donations Accepted: {{ request.donationsAccepted }}</span>
      <span>Donations Outstanding: {{ request.donationsOutstanding }}</span>
    </div>
    <app-card-comments></app-card-comments>
  </div>
</mat-card>
