mat-card
  display: inline-flex
  flex-direction: row

  .card-main
    padding-right: 1vw
    width: 48vw
    display: flex
    flex-direction: row
    align-items: center

    .card-inner
      display: flex
      flex-direction: column

      mat-card-content
        margin-bottom: 0

      .card-content-row
        padding-top: 1vh
        display: flex
        flex-direction: row
        max-height: 75%

        .card-image
          width: 40%
          padding-right: 1vw

        .card-description
          width: 60%

      .card-content-col
        display: flex
        flex-direction: column
        align-items: center
        padding-top: 1vh

  .card-expanded-section
    width: 18vw
    padding-left: 1vw
    border-left: 1px solid rgba(0, 0, 0, 0.2)
    display: flex
    flex-direction: column
    align-content: center

    .card-actions
      width: 100%

      button
        width: 100%
