<mat-card>
    <div class="card-main">
      <div class="card-inner">
        <mat-card-header>
          <mat-card-title>{{ request.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="card-content-row">
            <img class="card-image" src="{{ request.imageSrc }}" alt="Image provided for the request">
            <p class="card-description">{{ request.description }}</p>
          </div>
          <div class="card-content-col">
            <div>Request Date: {{ request.requestDate }}</div>
            <div>Donations Accepted: {{ request.donationsAccepted }}</div>
            <div>Donations Outstanding: {{ request.donationsOutstanding }}</div>
          </div>
        </mat-card-content>
      </div>
      <button mat-icon-button *ngIf="!isExpanded" (click)="isExpanded = true">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
      <button mat-icon-button *ngIf="isExpanded" (click)="isExpanded = false">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    <div *ngIf="isExpanded" class="card-expanded-section">
      <mat-card-actions class="card-actions">
        <button mat-raised-button color="primary">Donate to "{{ request.requester }}"</button>
      </mat-card-actions>
      <app-card-comments></app-card-comments>
    </div>
</mat-card>
